<main class="main">
  <div class="content">
    <div class="item screen" *ngIf="showScreenInit; else screenPokedex">
          <img  class="start" src="https://media.giphy.com/media/Y3XoVhrbRfOkhnzFf9/giphy.gif" alt="Loading..." />
          <p class="blinking-text" style="position: absolute; display: flex; flex-direction: column; bottom: 10px;  align-items: center; " >Press enter - Start <br><span style="font-size: small;">© 1996 pokemon / nintendo</span></p> 
    </div>
    <div class="item"><button  (click)="reset($event)">On</button></div>
  </div>
</main>

<ng-template #screenPokedex>
  <div class="item screenPokedex">
    <div class="search-section">
      <input type="text" placeholder="enter pokemon number or name">
      <button>GO</button>
    </div>
  
  </div>
  <ng-template>
<router-outlet />
